In [1]:
import pandas as pd

In [2]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import OneHotEncoder, PolynomialFeatures
from sklearn.model_selection import train_test_split, ParameterGrid
from sklearn.linear_model import LinearRegression, ElasticNet, Lasso
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.impute import SimpleImputer
#from sklearn_pandas import DataFrameMapper
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error, r2_score
from sklearn.compose import ColumnTransformer

import warnings
warnings.filterwarnings('ignore')

In [4]:
modelling_df = pd.read_csv('./FINAL_PREPROCESSED_SKILLS_CLEANED.csv')

In [5]:
import joblib

In [6]:
model = joblib.load('cb_best.pkl')

In [42]:
preprocessor = joblib.load('preprocessor.pkl')

In [8]:
modelling_df.head()

,url,title,location,type,level,salaryRange,company,minSalary,maxSalary,currency,...,XGBoost,XML,ggplot2,spaCy,lang,titleLang,details,finalJobDescription,scope,hasSalary
0,https://ai-jobs.net/job/32218-data-science-con...,Data Science Content Intern (Remote),Remote,Internship,Entry,USD 9K - 11K,NannyML,9000.0,11000.0,USD,...,0,0,0,0,en,en,NaN,creator open source python library looking mul...,data science,True
1,https://ai-jobs.net/job/30723-data-scientist-r...,"Data Scientist - Research, Development & Const...","Remote, Hybrid Available (Chicago)",Full Time,Senior,USD 55K - 120K,"HFR, Inc.",55000.0,120000.0,USD,...,0,0,0,0,en,en,"Research, Development & Construction",hfr wa founded specializes area hedge fundalte...,data science,True
2,https://ai-jobs.net/job/30166-postdoctoral-res...,Postdoctoral Research Associate - Boundary Pla...,"Oak Ridge, TN, United States",Temporary,Mid,NaN,Oak Ridge National Laboratory,NaN,NaN,NaN,...,0,0,0,0,en,en,Boundary Plasma Physicist,overview largest u department energy science e...,research science,False
3,https://ai-jobs.net/job/30091-data-science-and...,Data Science and Machine Learning Manager,Remote- USA,Full Time,Senior,USD 150K - 200K,Libertas Funding,150000.0,200000.0,USD,...,1,0,0,0,en,en,NaN,usa remote position position summary data lead...,management,True
4,https://ai-jobs.net/job/29940-social-science-r...,"Social Science Researcher, Sr. Manager","Washington, DC",Full Time,Mid,USD 84K - 94K,Polaris Project,84000.0,94000.0,USD,...,0,0,0,0,en,en,NaN,position social science researcher senior mana...,management,True

In [10]:
modelling_df.location.str.contains('Remote').sum()

625

In [11]:
modelling_df.location.str.contains('remote').sum()

10

In [12]:
modelling_df = modelling_df.drop(columns=['url', 'title', 'location', 'salaryRange',
                                'maxSalary', 'currency', 'salaryPeriod', 'hasSalary',
                                          'company', 'position', 'datePosted', 'validThrough', 'jobDescription', 
                                           'skills', 'lang', 'titleLang', 'details'])

In [13]:
modelling_df.head()

,type,level,minSalary,.NET,3D Reconstruction,A/B testing,AGI,AI governance,AI strategy,AIStats,...,Unstructured data,VR,Visual SLAM,Weka,XGBoost,XML,ggplot2,spaCy,finalJobDescription,scope
0,Internship,Entry,9000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,creator open source python library looking mul...,data science
1,Full Time,Senior,55000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,hfr wa founded specializes area hedge fundalte...,data science
2,Temporary,Mid,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,overview largest u department energy science e...,research science
3,Full Time,Senior,150000.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,usa remote position position summary data lead...,management
4,Full Time,Mid,84000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,position social science researcher senior mana...,management

In [20]:
modelling_df.isna().sum()

type                      0
level                     0
minSalary              1713
.NET                      0
3D Reconstruction         0
                       ...
XML                       0
ggplot2                   0
spaCy                     0
finalJobDescription       0
scope                     0
Length: 301, dtype: int64

In [19]:
modelling_df.level.fillna("nan", inplace=True)

In [21]:
X = modelling_df.drop(columns=['minSalary'])

In [22]:
X_proc = preprocessor.transform(X)

In [23]:
%%time
model.predict(X_proc)

CPU times: user 18.8 s, sys: 13.2 s, total: 32 s
Wall time: 37.5 s

array([21581.09841387, 67087.92430104, 41083.80968114, ...,
       66737.17095457, 37824.69408921, 68806.23515169])

In [24]:
Predictions = model.predict(X_proc)

In [25]:
modelling_df['pred'] = Predictions

In [27]:
modelling_df

,type,level,minSalary,.NET,3D Reconstruction,A/B testing,AGI,AI governance,AI strategy,AIStats,...,VR,Visual SLAM,Weka,XGBoost,XML,ggplot2,spaCy,finalJobDescription,scope,pred
0,Internship,Entry,9000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,creator open source python library looking mul...,data science,21581.098414
1,Full Time,Senior,55000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,hfr wa founded specializes area hedge fundalte...,data science,67087.924301
2,Temporary,Mid,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,overview largest u department energy science e...,research science,41083.809681
3,Full Time,Senior,150000.0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,usa remote position position summary data lead...,management,72962.858214
4,Full Time,Mid,84000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,position social science researcher senior mana...,management,53749.227295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3714,Full Time,Mid,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,solute inc system looking experienced former n...,management,45675.086362
3715,Full Time,Senior,76000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ciampampt digital specialist partner endtoend ...,data engineering,75507.343261
3716,Full Time,Senior,56000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,remote hybridpersons role expected spend part ...,research science,66737.170955
3717,Full Time,Mid,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,seeking market data engineer help design build...,software engineering,37824.694089
3718,Internship,Senior,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,global blockchain behind world largest digital...,other,68806.235152

In [29]:
tru = modelling_df[~modelling_df.minSalary.isna()].minSalary.to_numpy()
pre = modelling_df[~modelling_df.minSalary.isna()].pred.to_numpy()

In [30]:
from sklearn.metrics import mean_absolute_percentage_error

In [31]:
mean_absolute_percentage_error(tru, pre)

0.0913338279311539

In [32]:
def fill_salary(sal, pred):
    if pd.isna(sal):
        return pred
    else:
        return sal

In [33]:
modelling_df['minSalary'] = modelling_df.apply(lambda row: fill_salary(row['minSalary'], row['pred']), axis=1)

In [35]:
modelling_df.drop(columns=['pred'], inplace=True)

In [36]:
modelling_df.to_csv('./MODELLING_FILLED_PREDICTED.csv', index=False)

-----

In [37]:
X = modelling_df.drop('minSalary', axis = 1)
y = modelling_df.minSalary

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=43)

In [39]:
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size=0.33, random_state=43)

In [43]:
X_train_proc = preprocessor.transform(X_train)
X_test_proc = preprocessor.transform(X_test)
X_val_proc = preprocessor.transform(X_val)

In [44]:
X_train_proc = pd.DataFrame(X_train_proc, columns = [i for i in range(0, 57824)] + ['type', 'level', 'scope'])
X_test_proc = pd.DataFrame(X_test_proc, columns = [i for i in range(0, 57824)] + ['type', 'level', 'scope'])
X_val_proc = pd.DataFrame(X_val_proc, columns = [i for i in range(0, 57824)] + ['type', 'level', 'scope'])

In [45]:
categorical_features = ['level', 'scope', 'type']

In [47]:
from catboost import Pool

In [48]:
learn_pool = Pool(X_train_proc, y_train, cat_features=categorical_features, feature_names=list(X_train_proc))
test_pool = Pool(X_test_proc, y_test, cat_features=categorical_features, feature_names=list(X_test_proc))

In [50]:
from catboost import CatBoostRegressor

In [51]:
cb = CatBoostRegressor(iterations=30000, early_stopping_rounds=50, random_state=0, 
                       custom_metric=['RMSE', 'MAPE', 'R2'],
                       task_type='CPU', verbose=0, loss_function='Huber:delta=1.35',
                       depth=4, learning_rate=0.2, l2_leaf_reg=1
)

In [52]:
cb.fit(learn_pool, 
       eval_set=test_pool,
       early_stopping_rounds=10,
       plot=True,
       silent=True)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

In [54]:
result(cb)

             train          test           val
rmse  15085.240756  19283.976536  17216.440051
mape      0.069517      0.095631      0.116609
r2        0.711114      0.585710      0.652358

In [59]:
modelling_df.scope.unique()

array(['data science', 'research science', 'management',
       'data engineering', 'other', 'architecture', 'data analytics',
       'software engineering', 'ML engineering'], dtype=object)

In [55]:
cbb = CatBoostRegressor(iterations=30000, random_state=0, 
                       custom_metric=['RMSE', 'MAPE', 'R2'],
                       task_type='CPU', verbose=0, loss_function='Huber:delta=1.35',
                       depth=4, learning_rate=0.2, l2_leaf_reg=1
)

In [56]:
cbb.fit(learn_pool, 
       eval_set=test_pool,
       early_stopping_rounds=5,
       plot=True,
       silent=True)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

In [57]:
result(cbb)

             train          test           val
rmse  15883.775774  20100.036435  17871.886414
mape      0.075827      0.098913      0.118259
r2        0.679721      0.549904      0.625384

In [53]:
def result(model):
    res = pd.DataFrame([[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0, 0.0]], columns=['train', 'test', 'val'],
                      index=['rmse', 'mape', 'r2'])
    
    res.loc['rmse']['train'] = mean_squared_error(y_train, model.predict(X_train_proc), squared=False)
    res.loc['rmse']['test'] = mean_squared_error(y_test, model.predict(X_test_proc), squared=False)
    res.loc['rmse']['val'] = mean_squared_error(y_val, model.predict(X_val_proc), squared=False)
    
    
    res.loc['mape']['train'] = mean_absolute_percentage_error(y_train, model.predict(X_train_proc))
    res.loc['mape']['test'] = mean_absolute_percentage_error(y_test, model.predict(X_test_proc))
    res.loc['mape']['val'] = mean_absolute_percentage_error(y_val, model.predict(X_val_proc))
    
    res.loc['r2']['train'] = r2_score(y_train, model.predict(X_train_proc))
    res.loc['r2']['test'] = r2_score(y_test, model.predict(X_test_proc))
    res.loc['r2']['val'] = r2_score(y_val, model.predict(X_val_proc))
    
    return res

In [58]:
joblib_file = 'cb_final.pkl'
joblib.dump(cb, joblib_file)

['cb_final.pkl']